  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Noto Sans Display', sans-serif;
  }

  .App {
      background-color: #345B63;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
  }

  .weather-container {
      background-color: #D4ECDD;
      padding: 50px;
      border-radius: 10px;
  }

  .title {
      color: #152D35;
      padding: 30px;
  }

  .city {
      color: #152D35;
      text-align: center;
  }

  .temperature {
      color: #152D35;
      text-align: center;
  }

  .secondary-data {
    text-align: center;
    padding: 30px;
  }

  .weather {
      color: #152D35;
  }

  .wind {
      color: #152D35;
  }

  .humidity {
      color: #152D35;
  }